Flask==2.2.3
python-dotenv==0.20.0
mysql-connector-python==8.0.31
sqlalchemy==1.4.47
Flask-SQLAlchemy==2.5.1
flask-restful==0.3.9
flask-marshmallow==0.14.0
requests==2.26.0
flask-cors==3.0.10
redis==3.5.3
flask-caching==2.0.2
pybreaker==0.7.0
py-consulate-ms==1.0.0